.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #e0a400;
  gap: 45px;
}

.nav a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.nav a:hover {
  color: rgb(0, 247, 255);
}
