.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: #e0a400;
  color: rgb(255, 255, 255);
}

.createTodo {
  transition: 0.5s;
  /* flex: 80%; */
  /* display: flex; */
  justify-content: center;
  cursor: pointer;
}

.createTodo:hover {
  color: rgb(0, 247, 255);
}
.logout {
  position: fixed;
  right: 30px;
  cursor: pointer;
}

.logout:hover {
  color: rgb(255, 99, 99);
}

.login {
  position: fixed;
  right: 30px;
  cursor: pointer;
}

.login:hover {
  color: rgb(0, 247, 255);
}

.modal {
  background-color: rgb(19, 23, 22);
  /* top: 50%; */
  /* left: 50%; */
  /* right: auto; */
  /* bottom: auto; */
  /* margin-right: auto; */
  transform: translate(25%, 25%);
  /* width: 40%; */
}
