.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: #e0a400;
  color: rgb(255, 255, 255);
  position: fixed;
  margin-bottom: 500px;
  top: 0;
  z-index: 10;
}

.appTitle {
  font-size: 24px;
}

.login {
  display: flex;
  /* justify-content: flex-end; */
  align-items: center;
}

.loginIcon {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: 0.3s;
}

.loginIcon:hover {
  cursor: pointer;
  width: 30px;
  height: 30px;
  color: rgb(0, 247, 255);
}

.cteateTodo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.createIcon {
  width: 24px;
  height: 24px;
  margin-right: 4px;
  transition: 0.3s;
}

.createIcon:hover {
  width: 30px;
  height: 30px;
  color: rgb(0, 247, 255);
}

.logout {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logoutIcon {
  cursor: pointer;
  width: 30px;
  height: 30px;
  transition: 0.3s;
}

.logoutIcon:hover {
  cursor: pointer;
  width: 36px;
  height: 36px;
  color: rgb(255, 81, 23);
}
