.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: #e0a400;
  color: rgb(255, 255, 255);
  font-size: 5px;
}

.createTodo {
  transition: 0.5s;
  /* flex: 80%; */
  /* display: flex; */
  /* justify-content: center; */
  cursor: pointer;
  font-size: 10px;
}

.createTodo:hover {
  color: rgb(0, 247, 255);
}
.logout {
  position: fixed;
  right: 30px;
  cursor: pointer;
}

.logout:hover {
  color: rgb(255, 99, 99);
}

.login {
  display: flex;
  position: fixed;
  /* justify-content: flex-end; */
  right: 30px;
  cursor: pointer;
  width: 80px;
  height: 40px;
}

.icon {
  font-size: 1em !important;
  size: 10px;
}

.login:hover {
  color: rgb(0, 247, 255);
}
